<tr>
  <td style="padding-top:20px;font-size:18px;padding-left:40px;padding-right:40px;">
    <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;">Bienvenue {{pseudo}} !!! <br> Votre compte à été activé.</strong>
  </td>
</tr>

<tr>
  <td style="font-size:18px;padding-top:10px;padding-left:40px;padding-right:40px;padding-bottom:10px;">
    <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;"> Vous trouverez ci-dessous votre nouveau mot de passe : </strong>
  </td>
</tr>

<tr>
  <td align="center">
    <table width="300" cellpadding="0" cellspacing="0">
      <tr>
        <td
          style="padding-left:30px;padding-right:30px;padding-top:15px;padding-bottom:15px;background:#3D3D3D; font-size:20px; text-align:center;font-weight:bold;border-radius:3px;">
          {{password}}
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td style="font-size:18px;padding-top:10px;padding-left:40px;padding-right:40px;">
    <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;">
      Après votre première connexion avec ce mot de passe, nous vous invitons à vous rendre dans les paramètres de votre
      compte, rubrique « Gérer le profil », afin de le modifier.
    </strong>
  </td>
</tr>

<tr>
  <td style="font-size:18px;padding-top:10px;padding-left:40px;padding-right:40px;">
    <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;">
      Cordialement, <br> ChocoPops
    </strong>
  </td>
</tr>