<tr>
    <td style="padding-top:20px;font-size:18px;padding-left:40px;padding-right:40px;">
        <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;">Salut {{pseudo}} 👋</strong>
    </td>
</tr>

<tr>
    <td style="font-size:16px;padding-top:10px;padding-left:40px;padding-right:40px;padding-bottom:10px;">
        <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;"> Votre compte a été suspendu pour des raisons purement personnelles.
        </strong>
    </td>
</tr>

<tr>
    <td style="font-size:16px;padding-top:10px;padding-left:40px;padding-right:40px;padding-bottom:10px;">
        <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;">
            Vous pouvez bien sûr envoyer une réclamation qu'on ne lira pas à défaut de se torcher le cul avec 🧻.
            <br>
            Mais en attendant, pourquoi ne pas retourner à vos forfaits payants ? Les Netflix, les Amazon et Disneyplus
            qui financent l'Etat d'Israël... Pourquoi ne pas retourner dans votre vie d'esclave à quémander qu'on fasse
            le travail à votre place ?
            <br>
            Payez pour qu'on vous chie dessus ça vous manque non 💩?
        </strong>
    </td>
</tr>

<tr>
    <td style="font-size:16px;padding-top:10px;padding-left:40px;padding-right:40px;padding-bottom:10px;">
        <strong style="
      display:inline-block;
      background-color:rgba(20, 20, 20, 0.35);
      padding:6px 10px;
      line-height:1.5;
      border-radius:3px;">
            Si vous pensiez qu’on va pleurer pour vous… nope 😎.
            Retournez donc à vos séries, vos jeux, ou vos sites pleins de pubs clignotantes et pop-ups imprévisibles
            avec vos goûts lamentables.
        </strong>
    </td>
</tr>

<tr>
    <td style="font-size:16px;padding-top:10px;padding-left:40px;padding-right:40px;padding-bottom:10px;">
        <strong style="
      display:inline-block;
      background-color:rgba(20, 20, 20, 0.35);
      padding:6px 10px;
      line-height:1.5;
      border-radius:3px;">Mais ☝️, <br>
            Conseil d’ami : profitez-en pour faire une pause ☕. Le monde ne va pas s’effondrer parce que votre compte
            est suspendu, même si c'est un peu la honte de vous faire hagar comme ça 🤭.
        </strong>
    </td>
</tr>

<tr>
    <td style="font-size:16px;padding-top:10px;padding-left:40px;padding-right:40px;">
        <strong style="
    display:inline-block;
    background-color:rgba(20, 20, 20, 0.35);
    padding:6px 10px;
    line-height:1.5;
    border-radius:3px;">
            Allez, bisous et au revoir 😘 !
        </strong>
    </td>
</tr>